@if (data.array.length > 0) {
  <div class="container">
    <h3>{{data.title}}</h3>
    @for (item of data.array; track $index) {
      <div class="card" (click)="redirectToUserProfile(item.id)">
        <img src="assets/images/profile.png" class="img-profile" alt="avatar" />
        <span>{{item.username}}</span>
      </div>
    }
    @if (data.array.length >= 10) {
      <button class="btn-load" (click)="emitEvent()">Load more</button>
    }

  </div>
} @else {
  <div class="container">
      <span class="no-content">{{data.noContent}}</span>
  </div>
}
