<article class="phrase-card">
  @if(!hidePhoto) {
    <img src="assets/images/profile.png" class="img-profile" alt="avatar" />
  }
  <main class="content">
    <header class="info">
      @if(!hideAuthor) {
        <div class="author-box">
          <a class="author">{{phrase.author.username}}</a>
          <button class="follow">FOLLOW</button>
        </div>
      }
      <span class="date">{{dateFormatted}}</span>
    </header>
    <p class="phrase">{{phrase.text}}</p>
    <span class="like-box">
      <button class="btn-like" (click)="like()">
        <mat-icon aria-hidden="true" fontIcon="thumb_up" [class]=" isLiked ? 'liked' : '' "/>
      </button>
      <span>{{phrase.likes}}</span>
    </span>
  </main>
</article>
