.phrase-card {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid var(--black-third);
  font-size: 1rem;
}

.img-profile {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  padding: clamp(.06em, .4vw, .12em);
  width: clamp(40px, 12vw, 80px);
  height: clamp(40px, 12vw, 80px);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.author {
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.date {
  color: var(--black-fourth);
}

.phrase {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.like-box {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.btn-like {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.liked {
  color: var(--secondary-color);
}

.author-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.follow {
  display: inline-block;
  padding: 2px 5px;
  border: none;
  appearance: none;
  background-color: var(--black-third);
  font-weight: bold;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.follow.-ing {
  background-color: var(--secondary-color);
}
