<main class="home-page">
  <header>
    <div class="header-top">
      <app-logo-text class="logo">Phrases</app-logo-text>
      <app-logo-text class="middle-size">P</app-logo-text>
      <a class="ico-link desktop" routerLink="home">
        <div class="ico-box">
          <mat-icon class="ico desktop" fontIcon="home" />
          <span class="ico-text">Home</span>
        </div>
      </a>
      <a class="ico-link" routerLink="profile">
        <div class="ico-box">
          <mat-icon class="ico" fontIcon="account_circle" />
          <span class="ico-text">Profile</span>
        </div>
      </a>
      <a class="ico-link desktop" routerLink="search">
        <div class="ico-box">
          <mat-icon class="ico" fontIcon="search" />
          <span class="ico-text">Search</span>
        </div>
      </a>
      <button (click)="openPostModal()" class="post-btn desktop">Post</button>
      <button  (click)="openPostModal()" class="post-btn middle-size">
        <mat-icon class="ico" fontIcon="add" />
      </button>
    </div>
  </header>
  @if (this.router.url.includes('for-you') || this.router.url.includes('following')) {
    <nav class="navbar">
      <a class="nav-link" routerLink="for-you" routerLinkActive="active">For you</a>
      <a class="nav-link" routerLink="following" routerLinkActive="active">Following</a>
    </nav>
  }
  <section class="phrases-container">
    <router-outlet></router-outlet>
  </section>
  <aside class="mobile-btns">
    <a routerLink="home">
      <mat-icon class="ico" fontIcon="home" />
    </a>
    <app-text-button (onClick)="openPostModal()">
      <mat-icon class="ico" fontIcon="add" />
    </app-text-button>
    <a routerLink="search">
      <mat-icon class="ico" fontIcon="search" />
    </a>
  </aside>
</main>
