.input-checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  font-weight: bold;
}

input[type="checkbox"] {
  appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--secondary-color);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

label {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: white;
}
