<header>
  <img src="assets/images/profile.png" class="img-profile" alt="avatar" />
  <div class="name-box">
    <span class="title">Username</span>
    <h3 class="name">{{user().username}}</h3>
    <span class="title">Total phrases: <strong class="enphasis">{{myPhrases().length}}</strong></span>
    <br>
    <span class="title">Total likes: <strong class="enphasis">{{totalLikes()}}</strong></span>
  </div>
  <app-text-button (onClick)="logout()">
    <div class="logout">
      <span>Logout</span>
      <mat-icon aria-hidden="false" fontIcon="logout" />
    </div>
  </app-text-button>

  <div class="follow-box">
    <span class="follow-info" (click)="openFollowingDialog()">
      Following:
      <p class="enphasis" >{{user().totalFollowing}}</p>
    </span>
    <span class="follow-info" (click)="openFollowersDialog()">
      Followers:
      <p class="enphasis" >{{user().totalFollowers}}</p>
    </span>
  </div>
</header>

<main>
  <h2>Phrases</h2>
  @for (phrase of myPhrases(); track $index) {
    <div class="phrase-box">
      <app-phrase-card
        [phrase]="phrase"
        [hideAuthor]="true"
        [hidePhoto]="true"
        [usersLiked]="true"
        (onLast)="load()"
      />
      <app-text-button class="delete-btn" (onClick)="openExclusionDialog(phrase.id)">
        <mat-icon class="ico" aria-hidden="false" fontIcon="delete" />
      </app-text-button>
    </div>
  }
  <button [class]="disable ? 'disable' : 'btn-load'" (click)="load()">Load more</button>
</main>
