header {
  position: relative;
  display: flex;
  gap: clamp(5px, 1.8vw, 18px);
  padding: clamp(6px, 2vw, 20px);
  background-color: var(--black-second);
  border-bottom: 1px solid var(--black-third);
  border-top: 1px solid var(--black-third);
}

.img-profile {
  width: clamp(60px, 22vw, 130px);
  height: clamp(60px, 22vw, 130px);
  border-radius: 50%;
  background-color: white;
  padding: clamp(1px, .4vw, 3px);
}

.name-box {
  padding-top: 5px;
}

.title {
  font-size: 1rem;
  color: var(--black-fourth);
  display: inline-flex;
  gap: 6px;
}

.follow-info {
  font-size: 1rem;
  color: var(--black-fourth);
  display: inline-flex;
  gap: 6px;
  cursor: pointer;
}

.enphasis {
  color: white;
  margin: 0;
}

.name {
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: bold;
}

.logout {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: clamp(.85rem, 4vw, 1.2rem);
  gap: clamp(5px, 2vw, 10px);
  color: var(--secondary-color);
  right: 15px;
  bottom: 15px;
}

.follow-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 15px;
  top: 15px;
}

/* */

main h2 {
  margin: 0;
  padding: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid var(--black-third);
}

.phrase-box {
  padding-right: 10%;
  position: relative;
}

.delete-btn {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-second);
  border-bottom: 1px solid var(--black-third);
}

.ico  {
  font-size: 30px;
  width: 30px;
  height: 30px;
  color: var(--black-fourth);
}

.ico:hover {
  color: var(--secondary-color);
}

.btn-load {
  width: 100%;
  padding: 16px 0;
  border: none;
  appearance: none;
  background-color: var(--black-second);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-load:hover {
  background-color: var(--black-third);
}

.disable {
  display: none;
}
