.sign-up {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.form-sign-up {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  border: 1px solid var(--black-second);
  border-radius: 30px;
  box-shadow: 15px 5px 40px var(--black-second);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.1rem;
  text-align: center;
}

.isEmpty {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: 10px auto;
  line-height: 1.5rem;

}
