<form action="">
  <div class="top">
    <button (click)="close()" class="close-btn">
      <mat-icon class="ico" fontIcon="close" />
    </button>
    <span>Post a phrase</span>
  </div>
  <div class="container">
    <img src="assets/images/profile.png" class="img-profile" alt="avatar" />
    <textarea
      name="textarea-phrase"
      maxlength="250"
      [(ngModel)]="postContent"
      placeholder="What's on your mind?"
    ></textarea>
  </div>
  <app-button-text (onClick)="emitEvent()">Post</app-button-text>
</form>
